@model TermasApp.Models.PrescricaoModel
@inject TermasApp.IRepository.ITipoConsultaRepository _tipoConsultaRepository
@{

    string consulta = await _tipoConsultaRepository.GetNomeTConsulta(Model.IdTipoTratamento);
}
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            Tratamento
        </dt>
        <dd class = "col-sm-10">
            @consulta
        </dd>
        <dt class = "col-sm-2">
            Nº de Tratamentos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NTratamentos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
</div>

