
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TermasApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TermasApp.styles.css" asp-append-version="true" />

    <link href="~/cssjs/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/cssjs/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/cssjs/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>