@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <div class="card shadow mb-4">
                <div class="card-body  text-white" style="background-image: linear-gradient(to right, #191970, #7FFFD4)">
                    <h2>BemVindo</h2>
                    <h2>Termas APP</h2>
                    <p>Faça login para começar</p>
                </div>

                <img src="~/images/undraw_posting_photo.svg" class="img-fluid" />

            </div>
        </div>
    </div>
</div>